@model InstructorViewModel

@{
    ViewData["Title"] = "SignInForm";
}

<h1>SignIn</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveAccount"  method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="UserName" class="control-label">User Name</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="password" class="control-label">Password</label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Confirmpassword" class="control-label">Confirm Password</label>
                <input asp-for="Confirmpassword" class="form-control" />
                <span asp-validation-for="Confirmpassword" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Courseid" class="control-label">Course</label>
                <select asp-items="ViewBag.Courses" asp-for="Courseid" class="form-control">
                    <option value="0">-- Select Course --</option>
                </select>
                <span class="text-danger" asp-validation-for="Courseid"></span>
                <span asp-validation-for="Courseid" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="SignIn" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
