@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn-primary" asp-action="LogInForm" asp-controller="Account" role="button">LogIn</a>
    <a class="btn btn-primary" asp-action="SignInForm" asp-controller="Account" role="button">SignIn</a>
</div>
